@import "tailwindcss";

:root{
    --blow : rgb(255, 243, 240,0.4);
    --background : rgb(255, 243, 240);
    --highlight : #FDE12D;
    --orange : rgb(243, 167, 131);
    --orangeLight : rgba(243, 167, 131,0.5);
    --grey : #48555E;
}

.cursive{
    font-family: "Ballet", cursive!important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    /* outline: 1px solid greenyellow; */
}
