@import "tailwindcss";

/* :root{
    --blow : rgb(255, 243, 240,0.4);
    --background : rgb(255, 243, 240);
    --highlight : #FDE12D;
    --orange : rgb(243, 167, 131);
    --orangeLight : rgba(243, 167, 131,0.5);
    --grey : #48555E;
} */
:root{
    --blow : rgba(18, 20, 23,0.4);
    /* --background : rgb(255, 243, 240); */
    --background : rgb(18, 20, 23);
    --orange : #ff5100;
    --orangeLight : rgba(243, 167, 131,0.5);
    --grey : #48555E;
    --text : #FFF3F0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 999px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.55);
}
.cursive{
    font-family: "Ballet", cursive!important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    /* outline: 1px solid greenyellow; */
}
